
%p 
    %strong Name:
    = @project.name
    
.audits
    %h3 Audits
    -if @project.audits.size == 0
        .no_audits
            You have not yet run any audits on this project
            =button_to "Run your first audit", new_project_audit_path(@project), method: :get
    -else
        -@project.audits.each do |audit|
            .audit{id: "audit_#{audit.id}"}
                .trigger= audit.trigger
                .created_at= audit.created_at
                .status= audit.status